body {

min-height: 2500px;
}

.title-bar {

  height: 4rem;
  width: 100%;
  color: #ff6700;
  position: fixed;
  background-color: rgba(250, 250, 250, 0.9);
  margin-bottom: 2rem;
  z-index: 9542365657685;
}
