body {

  /*min-height: 2200px;*/

  /*-------type styles---------*/
    /* color: #ff6700;   */

/*font-family: 'Hind', sans-serif;*/

  /*-------type styles---------*/
}

#introduction-banner {

    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 5rem;
    height: auto;
    min-width: 100%;
    z-index: -3;
    background-size: cover;

}

.rock-img {

  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  min-height: inherit;
  height: auto;

}

.classic-cartoon {

  margin-top: 6rem;
}

.classic-banner-homepage {

   background-image: url(../img/nick-classics.jpg);
   background-size: cover;
   height: 50rem;
   margin-bottom: 15rem;
   margin-top: 12rem;
}

.summer-banner-homepage {

  background-image: url(../img/splash.jpg);
  background-size: cover;
  height: 50rem;
  margin-bottom: 25rem;

}

.newgame-banner-homepage {

  background-image: url(../img/mystery-ball.jpg);
  background-size: cover;
  height: 50rem;
  margin-bottom: 15rem;

}

.intro-banner-text {

    color: #ffffff;
    z-index: 20;
    margin-top: -12rem;
    /*margin-left: 1rem;*/
    padding-top: .2rem;
    margin-bottom: auto;
    height: inherit;
    width: inherit;
    font-family: 'Hind', sans-serif;
    /*font-size: 3.2rem;*/
    line-height:4.5rem;
    justify-content: center;
    align-items: center;
    display: flex;

}

.text-bg {
  background: rgba(255,103,0,0.6) ;
}

.banner-text {

    height: inherit;
    margin-bottom: auto;
    display: flex;
    align-items: center;
    top: -6rem;

}

.card {

      margin-bottom: 0rem;
}

.card-action-styles {

     background-color: #ffffff;
     border-bottom: 1px solid #ff6700;
     margin-bottom: auto;
     margin-top: auto;

}

.card-action-styles-mini {

     background-color: #ffffff;
     /*border-bottom: 1px solid #ff6700;
     border-top: 1px solid #ff6700;*/
     font-size: 0.9rem;
     text-align: left;
}

.button-placement {
  margin-top: 1rem;
  margin-left: 0.5rem;
  height: inherit;
  margin-bottom: auto;

}

#orange-btn-styles {

  color: #ff6700 !important;

}


#orange-btn-styles02 {
  margin-top: 1rem;
  font-size: 1rem;
  border-radius: 26px;
  color: #fff !important;

}

#outline-schedule-style {

      border-radius: 26px;
      border: 1px solid #ff6700;
      color: #ff6700;

}

#outline-schedule-style02 {

      border-radius: 26px;
      border: 1px solid #ff6700;
      color: #ff6700;
      margin-top: 1rem;

}

#outline-showbutton-style {

      border-radius: 26px;
      border: 3px solid #ffffff;
      color: #ffffff;
      font-size: 1rem;

}

#outline-showbutton-style2 {

      border-radius: 24px;
      border: 3px solid #ffffff;
      color: #ffffff;
      font-size: 4rem;

}

#banner-button-text {

    font-size: 2.5rem;
    margin-top: 1.8rem;
    color: #ffffff;

}



/*------- Rockos-pisode page CSS ------- */
.Rockos-banner {

  background-image: url(../img/pete-wright-185399.jpg);
  background-size: cover;
  height: 50rem;
  margin-bottom: 15rem;
  margin-top: 12rem;

}

.banner-section-below {

  color: #1E90FF;
}

.mini-banner-style {

  background-image: url(../img/rocko-banner03.jpg);
  background-size: cover;
  height: 17rem;
  margin-left: 2rem;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 1rem;
  border-radius: 0;

}

.mini-banner-style-2 {

  background-image: url(../img/rocko-banner03.jpg);
  background-size: cover;
  height: 17rem;
  margin-left: 2rem;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 1rem;
  border-radius: 0;

}

.mini-banner-style-3 {

  background-image: url(../img/rocko-banner03.jpg);
  background-size: cover;
  height: 17rem;
  margin-left: 2rem;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 1rem;
  border-radius: 0;

}

.mini-banner-style-4 {

  background-image: url(../img/rocko-banner03.jpg);
  background-size: cover;
  height: 17rem;
  margin-left: 2rem;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 1rem;
  border-radius: 0;

}

.mini-banner-style-5 {

  background-image: url(../img/rocko-banner03.jpg);
  background-size: cover;
  height: 17rem;
  margin-left: 2rem;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 1rem;
  border-radius: 0;

}

.mini-banner-style-6 {

  background-image: url(../img/rocko-banner03.jpg);
  background-size: cover;
  height: 17rem;
  margin-left: 2rem;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 1rem;
  border-radius: 0;

}

.mini-banner-style-7 {

  background-image: url(../img/rocko-banner03.jpg);
  background-size: cover;
  height: 17rem;
  margin-left: 2rem;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 1rem;
  border-radius: 0;

}

.mini-banner-style-8 {

  background-image: url(../img/rocko-banner03.jpg);
  background-size: cover;
  height: 17rem;
  margin-left: 2rem;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 1rem;
  border-radius: 0;

}

.mini-text {
   color: #777;



}

.episode-block {


}


/*------- Rockos-pisode page ------- */
