body {

  min-height: 2200px;

  /*-------type styles---------*/
    /* color: #ff6700;   */



  /*-------type styles---------*/
}

.introduction-banner {

    margin-left: auto;
    padding-top: 3rem;
    margin-right: auto;
    margin-top: auto;
    min-width: 100%;
    z-index: -3;
    background-size: cover;
    width: 100%;
    height: inherit;
}

.intro-banner-text {

    color: #ffffff;
    z-index: 1000;
    margin-top: -25rem;
    margin-left: 3rem;
    margin-bottom: auto;
    height: inherit;
    width: 100%;
    font-family: 'Hind', sans-serif;
    font-size: 10rem;
    line-height: 8rem;

}

.rock-img {

  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;

}
